.walks {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem;
    max-width: 100%;
}

.sort-options {
    display: flex;
    width: 100%;
    max-width: 20rem;
    margin: .5rem;
    justify-content: space-around;
}

.location-search {
    width: 100%;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options-container {
    display: flex;
    align-items: center;
}

.title-guide-results {
    margin: 0;
    padding: 0;
}