.false {
    animation: slideout 1 forwards;
}

.true {
    animation: slidein 1s forwards;
  }
  
@keyframes 
    slidein {
        from {
            height: 0;
            overflow: hidden;
        }
    
        to {
            height: 20em;
        }
    }
 @keyframes   
    slideout {
        from {
            height: 20em;
        }
        to {
            height: 0;
            overflow: hidden;
        }
    }

  