.false {
    animation: slideout 250ms forwards;
}

.true {
    display: flex;
    animation-duration: 250ms;
    animation-name: slidein;
  }
  
@keyframes slidein {
    from {
      margin-left: -100%;
    }
  
    to {
      margin-left: 0%;
    }
  }

@keyFrames slideout {
    0% {
        margin-left: 0%;
    }
    100% {
        margin-left: -100%;
        display: none;
    }
}

  