.menu {
    position: absolute;
    margin: .75rem;
}

.nav-list {
    height: 100vh;
    width: 100vw;
    margin: .75rem -.75rem -.75rem -.75rem;
    padding: .25rem 0 0 0;
    list-style-type: none;
    background-color: rgba(100, 100, 100, 0.5);
}

.nav-list > li {
    margin: .25rem;
    width: 15rem;
    background-color: white;
    color: black;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Helvetica Neue', 'san-serif';
    font-weight: 200;
    font-size: 2rem;
    padding-left: .25rem;
}